/* =====================
   Global
===================== */
* {
  border: none;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 11px;
}

/* =====================
   Floating Waybar (darker)
===================== */
window#waybar {
  background: rgba(40, 65, 80, 0.88); /* dark sky-teal */
  
  padding: 2px 7px;

  border-radius: 14px; /* only outer shell */
}

/* =====================
   Workspaces (10 pills, no numbers)
===================== */
#workspaces {
  background: transparent;
  margin-left: 4px;
}

#workspaces button {
  all: unset;

  min-width: 10px;
  min-height: 0.50px;
  margin: 0 4px;

  border-radius: 1px;
  background-color: rgba(220, 235, 240, 0.35);
  color: transparent; /* hide numbers */
}

#workspaces button.active {
  background-color: rgba(88, 110, 117, 0.6); /* pode */
}

#workspaces button:hover {
  background-color: rgba(220, 235, 240, 0.55);
}

/* =====================
   Compact Modules
===================== */
#clock,
#battery,
#network,
#wireplumber,
#bluetooth,
#tray {
  padding: 3px 6px;
  margin: 0 3px;

  background-color: rgba(220, 235, 240, 0.25);
  color: #eaf6f7;
}

/* =====================
   Battery states
===================== */
#battery.charging {
  background-color: rgba(120, 190, 120, 0.85);
  color: #102018;
}

#battery.warning,
#battery.critical {
  background-color: rgba(190, 80, 80, 0.9);
  color: #ffffff;
}

/* =====================
   Tray
===================== */
#tray > .needs-attention {
  background-color: rgba(200, 160, 90, 0.9);
}

/* =====================
   Tooltips
===================== */
tooltip {
  background: rgba(25, 40, 50, 0.95);
  border-radius: 8px;
  padding: 3px;
}

tooltip label {
  color: #eaf6f7;
}

#window {
  padding: 3px 6px;
  margin: 0 3px;
  background-color: rgba(220, 235, 240, 0.25);
  color: #eaf6f7;
}
